* {
    font-family: 'Libre Baskerville', serif;
}

body {
    background-image: url('./background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3a3a3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw !important;
    margin: 0;
}

#logo {
    width: 400px;
}

/* Box that surrounds all the content */
#infoBox {
    width: 40%;
    background-color: rgba(228, 228, 228, 0.666);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    padding: 20px;
    border: 3px solid #cca664;
    border-radius: 20px;
}

#header {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;

}

#countries, #inputField {
    font-size: 15px;
    margin-bottom: 15px;
    padding: 5px;
}

#countryDropdown {
    width: 100%;
    display: flex;
    justify-content: center;
}

#countries, #formLine2 {
    width: 50%;
}

#formLine2 {
    display: flex;
    flex-direction: row;
}

#inputField {
    width: 100%;
}

#submitBtn {
    border: none;
    background-color: rgb(74, 74, 74);
    color: white;
    font-size: 15px;
    padding: 5px 10px;
    margin-left: 10px;
    height: 33px;
}

#submitBtn:hover {
    background-color: rgb(208, 208, 208);
    color: rgb(36, 36, 36);
    cursor: pointer;
}

/* Section that gets appended to */
#informationSection {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

/* Media Queries */
@media screen and (max-width: 1400px) {
    #infoBox {
        width: 60%;
    }
}

@media screen and (max-width: 1000px) {
    body {
        background-position: center 0;
        background-repeat: no-repeat;
        background-size: auto;
    }
    #infoBox {
        width: 75%;
    }
}

@media screen and (max-width: 780px) {
    #informationSection p, #header {
        font-size: 20px;
    }
    #logo {
        width: 90%;
    }

    #countries, #formLine2 {
        width: 80%;
    }
}